:root {
  --coloured_section: #666;
  --coloured_section_font: #DDD;
}

body {
  margin: 0;
  padding: 0;
}

section {
  padding-left: 4vw;
  height: 100vh;
}

#landing, #projects {
  background-color: var(--coloured_section);
  color: var(--coloured_section_font);
}

#landing {
  background-color: #000;
}

#landing h1 {
  font-size: 6rem;
  font-weight: 700;
}

#footer {
  height: unset;
  text-align: center;
  color:#666;
}